$space: 50px;
$small-space: 10px;
$purple: #646cff;

.show {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3.2em;
      line-height: 1;
      padding: 0;
      margin: 0;
      color: #acacac;
      color: $purple;
    }

    p {
        font-size: 1.2em;
        line-height: 1.4;
        color: #acacac;
        margin: 0;
        padding: 0;
    }

    .page {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        gap: $space;
        // width: 100%;
        height: 75%;
        padding: $space;
        
        .right {
            display: flex;
            flex-direction: column;
            gap: $small-space * 2;
            height: 100%;
            width: 100%;
            overflow: hidden;

            .description {
                font-size: 1.2em;
                color: #acacac;
                overflow-y: auto;
                padding: 0;
                margin: 0;
                height: 100%;
            }
        }

        .images {
            position: relative;
            height: 100%;
            aspect-ratio: 1;
            // border-radius: $space;
            // overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                aspect-ratio: 1;
                border-radius: $space;
                object-fit: cover;
                transition: all 0.25s ease;
                opacity: 0;

                &.active {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $small-space;

            .detail {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $small-space;

                i {
                    font-size: 1.5em;
                    color: #acacac;
                    height: 33px;
                    width: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25%;
                    border: 2px solid transparentize($purple, 0.6);
                    // background-color: transparentize($purple, 0.8);
                    background-color: #1a1a1a;
                    color: $purple;
                }

                span {
                    // font-size: 1.2em;
                    font-weight: 600;
                    color: #acacac;
                }
            }
        }
    }

    .buttons {
        position: absolute;
        bottom: calc($space / 2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $small-space;
        padding: 5px;
        background-color: #1a1a1a;
        border-radius: $small-space + 5px;

        span {
            // mono font
            font-family: 'Courier New', Courier, monospace;
            font-size: 1em;
            font-weight: 600;
            color: #acacacac;
            user-select: none;

            word-spacing: -5px;
        }

        button {
            position: relative;
            background-color: #242424;
            width: calc($space / 1.5);
            height: calc($space / 1.5);
            border-radius: $small-space;
            border: none;
            font-size: 1.3em;
            font-weight: 600;
            color: #acacacac;
            cursor: pointer;
            transition: all 0.25s ease;
            // transition: width 2s ease;
            overflow: hidden;

            h4 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1em;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }

            &.finish {
                background-color: $purple;
                color: lighten($purple, 25%);
                width: 55px;
            }

            &:hover {
                background-color: transparentize($purple, 0.8);
                color: $purple;
            }

            &:active, &.active {
                filter: brightness(0.8);
                background-color: transparentize($purple, 0.8);
                color: $purple;
            }

            &.active {
                transition: none;
            }

            &:disabled {
                cursor: not-allowed;
                background-color: #242424ac;
                color: #acacac44;

                &:hover {
                    background-color: #242424ac;
                    color: #acacac44;
                }

                &:active, &.active {
                    filter: none;
                }
            }
        }
    }
}